<!DOCTYPE html>
<html lang="en-us">
  <head>
    <base href="<%= htmlWebpackPlugin.options.baseUrl %>" />
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Elm-Boggle</title>
    <meta name="description" content="A Boggle clone written in Elm"/>
    <meta name="author" content="David McAtee"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto+Mono:400">
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>
